# Arquivos de estado do Terraform
*.tfstate
*.tfstate.*
terraform.tfstate.backup

# Arquivos de plano de execução
*.tfplan

# Diretório .terraform gerado pelo Terraform
**/.terraform/

# Arquivos de log e cache
*.log
*.tfvars

# Arquivos de configuração do Visual Studio Code
.vscode/

# Arquivo .PEM
*.pem
